<h1>Reader#index</h1>
<p>Find me in app/views/reader/index.html.erb</p>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
<%= link_to "test", reader_my_path,remote: true, class: "btn btn-primary" %>

