<h1>Reader#read</h1>

<p>Find me in app/views/reader/read.html.erb</p>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
<hr>
<table style=" border: 1px solid #ddd;">
	<tr>
	<%# @cols.each do |r| %>
		<th><%#= r %></th>
        <%#end %>
		</tr>
<%# @e.each do |e| %>
	<tr>
	
	<%# @cols.each do |r| %>
		<td><%#= e.send(r) %></td>
        <%# end %>
</tr>
<%# end %>
</table>
